h1 {
text-align: center;
}

#list {
    width: 600px;
    height: 400px;
    background-color: antiquewhite;
    margin: 2%;
    justify-content: center;
}

#addtask {
    width: 400px;
    height: 100px;
    margin: 5%;
}



#task {
    width: 300px;
    height: 100px;
    background-color: cornflowerblue;
    margin: 5%;
}

.fas.fa-plus-circle {
    position:absolute;
    top:10px;
    left: 10px;
    width: 20px;
    height: 20px;
}